.container {
  display: flex;
  width:100%;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 1px 1px 8px black;
  padding: 5px;
}

.card img {
  border-radius: 8px;
  width: 150px;
  height: 150px;
}

body {
  text-align: center;
}

button {
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  background-color: rgb(122, 216, 122);
  cursor: pointer;
}

.card-name {
  font-weight: bold;
}